[submodule "ros2_ws/src/r1_test_framework"]
	path = ros2_ws/src/r1_test_framework
	url = git@github.com:cocobird231/r1_test_framework.git
[submodule "ros2_ws/src/r1_test_mocks"]
	path = ros2_ws/src/r1_test_mocks
	url = git@github.com:cocobird231/r1_test_mocks.git
[submodule "ros2_ws/src/r1_integration_tests"]
	path = ros2_ws/src/r1_integration_tests
	url = git@github.com:cocobird231/r1_integration_tests.git
[submodule "ros2_ws/src/rv2_control_signal_transport"]
	path = ros2_ws/src/rv2_control_signal_transport
	url = git@github.com:cocobird231/rv2_control_signal_transport.git
[submodule "ros2_ws/src/r1_interfaces"]
	path = ros2_ws/src/r1_interfaces
	url = git@github.com:cocobird231/r1_interfaces.git
[submodule "r1_test_framework"]
	path = r1_test_framework
	url = git@github.com:cocobird231/r1_test_framework.git
[submodule "ros2_ws/src/rv2_csm_topic_bridge"]
	path = ros2_ws/src/rv2_csm_topic_bridge
	url = git@github.com:cocobird231/rv2_csm_topic_bridge.git
	branch = r1
[submodule "ros2_ws/src/rv2_server_control"]
	path = ros2_ws/src/rv2_server_control
	url = git@github.com:cocobird231/rv2_server_control.git
	branch = r1
[submodule "ros2_ws/src/joy_interpreter"]
	path = ros2_ws/src/joy_interpreter
	url = git@github.com:cocobird231/joy_interpreter.git
